# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtual env
.venv/
venv/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node/Frontend
node_modules/

# Local repos and uploads
.repos/
*.zip

# Logs
*.log
logs/
